@charset "UTF-8";		
body{
	font-family:arial;
	background-image: url("bg.png");
	background-color: #cccccc;
	margin: auto;
	padding: auto;
	width: 800px;
}
header{
	background-color: grey;
	width:auto;
	height:auto;
	margin-bottom:auto;
}
header img{
	float:none;
	width:auto;
	height:auto;
}
.flex-container {
	display: flex;
	background-color: DodgerBlue;
	align-items: center;
	flex-direction: row;
	justify-content: center;
  }
  .flex-container > div {
	margin: auto;
	padding: auto;
	font-size: 10px;
  }
  #instagram_icon:hover{
	transform: scale(1.1);
	opacity: 1;
  }
.TEST_KLASSE{
	background-color: lawngreen;
}
.TEST_KLASSE_2{
	background-color: lightpink;
}
h1, h2, h3{
	margin-left:auto;
	float:none;
	text-align:center;
	display: block;
}	
li{
	margin-left:auto;
	float: none;
	text-align:center;
	list-style: none;
	display: block;
}
blockquote{
	margin-left:auto;
	text-align:center;
	float: none;
}
a{
	font-size: arial;
	margin-left:auto;
	text-align:center;
	float: none;
	display: block;
}
b{
	font-size: arial;
	margin-left:auto;
	text-align:center;
	float: none;
	display: block;
}
em{
	font-size: arial;
	float: none;
	display: block;
	text-align:center;
}
i{
	font-size: arial;
	float: none;
	display: block;
	text-align:center;
}
img{
	margin-left:auto;
	margin-right:auto;
	display: block;
	width:auto;height:auto;
}
div img{
	margin-left:auto;
	margin-right:auto;
	display: center;
	width:auto;height:auto;
}
.nav:hover{
	transform: scale(1.5);
	opacity: 1;
  }
.testanimal{
	margin-left:auto;
	margin-right:auto;
	display: block;
	width:auto;height:auto;
	float: none;
	position: relative;
}
.testanimal:hover{
	transform: scale(1.1);
  	opacity: 1;
}
.PIC{
	margin-left:auto;
	margin-right:auto;
	display: block;
	width:auto;height:auto;
}
#PIC{
	margin-left:auto;
	margin-right:auto;
	display: block;
	width:auto;height:auto;
}
.rawpic{
	margin-left:auto;
	margin-right:auto;
	display: block;
	width:500px;height:450px;
}
#rawpic{
	margin-left:auto;
	margin-right:auto;
	display: block;
	width:500px;height:450px;
}
video{
	margin-left:auto;
	margin-right:auto;
	display: block;
}
.formular{
	margin-left:auto;
	margin-right:auto;
	display: block;
}
audio{
	margin-left:auto;
	margin-right:auto;
	display: block;
}
main{	
	background-color: #FFFFE0;
	width:100%;
	margin-bottom:10px;
}
nav{
	text-align: center;
	float:right;
	position: sticky;
	top: 0;
}
.navi:hover{
	transform: scale(1.1);
  	opacity: 1;
}
#aktuell{
    color: black;
}
#navigation li{
	font-size:1.3em;
}
#content{
	padding:30px;
}
p{
	font-size: arial;
	display: block;
	text-align:center;
}
blockquote{
	font-size: arial;
	text-align:center;
}
strong{
	font-size: arial;
	float: none;
	display: block;
	text-align:center;
}
input{
	font-size: arial;
	float: none;
	display: block;
	text-align:center;
}
label{
	font-size: arial;
	float: none;
	display: block;
	text-align:center;
}
textarea{
	font-size: arial;
	float: none;
	display: block;
	text-align:center;
}
#info{
	text-align: center;
	background-color:#FF8C00;
	float:right;
	margin-top:10px;
	padding:15px;
	width:8%;
	min-height:200px;
}
#info h3{
	margin-block-end:0;
}
#info p{
	margin-block-start:0;
}
footer{
	text-align: center;
	background-color: yellow;
	width:100%;
	min-height: auto;
}
footer h3{
	padding-top:15px;
	margin-block-start:0;
	margin-block-end:0;
	padding-bottom:15px;
}
@media screen and (max-width: 1024px){
	#navigation{
		width:100%;
		min-height:40px;
		margin-left:0;
	}
	#navigation h3, li{
		display:inline-block;
		padding:10px;
		margin-block-start:0.5em;
		margin-block-end:0.5em;
	}
	#info{
		width:100%;
		min-height:40px;
		padding:0;
		margin-top:0;
		margin-bottom: 10px;
	}
}
@media screen and (max-width: 600px){
	img{
		width: 50%;
		display:none;
	}
}
@media screen and (max-width: 800px) {
		body{
			width: auto;
		}
		
	}
