*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
}

body {
    margin: auto;
    width: 800px;
}

.container {
    margin: auto;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#newrec  {
    color: pink;
    margin: 0;
    width: 250px;
    height: 50px;
    border-radius: 3;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#newrec:hover {
    cursor: pointer;
}

.recContainer {
    background-color: seashell;
    height: 70px;
    position: relative;
}

