@charset "UTF-8";		
body{
	font-family:arial;
	background-image: url("bg.png");
	background-color: #cccccc;
	margin: auto;
	padding: auto;
	border: 5px solid grey;
}
header{
	background-color: grey;
	width:auto;
	height:auto;
	margin-bottom:auto;
}
header img{
	float:none;
	width:auto;
	height:auto;
}
.TEST_KLASSE{
	background-color: lawngreen;
}
.TEST_KLASSE_2{
	background-color: lightpink;
}
h1, h2, h3{
	margin-left:auto;
	float:none;
	text-align:center;
}	
li{
	margin-left:auto;
	float: none;
	text-align:center;
	list-style: none;
}
blockquote{
	margin-left:auto;
	text-align:center;
	float: none;
}
a, b{
	font-size: arial;
	margin-left:auto;
	text-align:center;
	float: none;
}
em{
	font-size: arial;
	float: none;
	display: block;
	text-align:center;
}
i{
	font-size: arial;
	float: none;
	display: block;
	text-align:center;
}
img{
	margin-left:auto;
	margin-right:auto;
	display: block;
	width:auto;height:auto;
}
.PIC{
	margin-left:auto;
	margin-right:auto;
	display: block;
	width:auto;height:auto;
}
#rawpic{
	margin-left:auto;
	margin-right:auto;
	display: block;
	width:500px;height:450px;
}
video{
	margin-left:auto;
	margin-right:auto;
	display: block;
}
audio{
	margin-left:auto;
	margin-right:auto;
	display: block;
}
main{	
	background-color: #FFFFE0;
	width:100%;
	margin-bottom:10px;
}
nav{
	text-align: center;
	float:center;
	position: sticky;
	top: 0;
	display: block;
}
#navigation li{
	font-size:1.3em;
}
#content{
	padding:30px;
}
p{
	font-size: arial;
	display: block;
	text-align:center;
}
blockquote{
	font-size: arial;
	text-align:center;
}
strong{
	font-size: arial;
	float: none;
	display: block;
	text-align:center;
}
input{
	font-size: arial;
	float: none;
	display: block;
	text-align:center;
}
label{
	font-size: arial;
	float: none;
	display: block;
	text-align:center;
}
textarea{
	font-size: arial;
	float: none;
	display: block;
	text-align:center;
}
#info{
	text-align: center;
	background-color:#FF8C00;
	float:right;
	margin-top:10px;
	padding:15px;
	width:8%;
	min-height:200px;
}
#info h3{
	margin-block-end:0;
}
#info p{
	margin-block-start:0;
}
footer{
	text-align: center;
	background-color: yellow;
	width:100%;
	min-height: auto;
}
footer h3{
	padding-top:15px;
	margin-block-start:0;
	margin-block-end:0;
	padding-bottom:15px;
}
@media screen and (max-width: 750px){
	#navigation{
		width:100%;
		min-height:40px;
		margin-left:0;
	}
	#navigation h3, li{
		display:inline-block;
		padding:10px;
		margin-block-start:0.5em;
		margin-block-end:0.5em;
	}
	#info{
		width:100%;
		min-height:40px;
		padding:0;
		margin-top:0;
		margin-bottom: 10px;

	}
}
@media screen and (max-width: 550px){
	header img{
		display:none;
	}
}