*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
}

body {
    margin: auto;
    width: 800px;
}

.container {
    margin: auto;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#newRec  {
    background-color: green;
    color:white;
    margin: 0;
    width: 250px;
    height: 50px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#newRec:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px;
}
#reset {
    background-color: green;
    color:white;
    margin: 0;
    width: 250px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#reset:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px;
}

.recContainer {
    background-color: orange;
    height: 70vh;
    position: relative;
}

