* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    margin: auto;
    width: 800px;
}

.container {
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.displayarea {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.products {
    margin: 15px;
    height: 150px;
    width: 200px;
}
h1 {
    text-align: center;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: orange;
}

#nextHead,
#save {
    background-color: orange;
    height: auto;
    width: 100px;
    padding: 5px;
    text-align: center;
    border-radius: 2px;
    border-style: solid;
    border-color: rgb(123, 87, 87);
}
#create{
    background-color: orange;
    height: auto;
    width: 100px;
    padding: 5px;
    text-align: center;
    border-radius: 2px;
    border-style: solid;
    border-color: rgb(123, 87, 87);
}